footer.loof
  .links
    ul.list-unstyled.list-inline.text-end
      li.list-inline-item
        a(href="#") Link 1
      li.list-inline-item
        a(href="#") Link 2
  button.btn.btn-custom.btn-glass-floating.rounded-circle OK