footer.footer-interface.max-width-container
  .links
    ul.list-unstyled.list-inline.text-end
      li.list-inline-item
        a.btn-custom.btn-link(href="https://www.linkedin.com/in/simonbriche/" title="Mon profil LinkedIn" target="_blank" rel="noopener")
          i.fab.fa-fw.fa-linkedin
      li.list-inline-item
        a#tarteaucitronManager.btn-custom.btn-link(title="Gestion des cookies")
          i.fas.fa-fw.fa-cookie-bite
      li.list-inline-item
        a.btn-custom.btn-link(href=`${cdnURL}/data-policy` title="Données personnelles")
          i.fas.fa-fw.fa-file-contract
      

.footer-interface.max-width-container.buttons-interface
  button#btn-pending-footer.btn.btn-custom.btn-glass-floating.rounded-circle
    i.fas.fa-spinner.fa-spin
  button.btn-profile.btn.btn-custom.btn-glass-floating.rounded-circle
    img.logo(src=`${cdnURL}/assets/images/logo.svg`)
  button#btn-close-footer.btn.btn-custom.btn-glass-floating.rounded-circle
    i.fas.fa-times

#notifications-container
  #notification-template.toast(role="alert" aria-live="assertive" aria-atomic="true")
    .toast-header
      strong.title.me-auto Information
      button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
      .toast-progress
    .toast-body

#modal-profile.modal.modal-interface.fade(tabindex="-1" aria-labelledby="modalFooter" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-body
        .card.portfolio-focus.soft.flat.rounded.border-0.mx-sm-auto
          img.card-img-top.rounded-top(src=`${cdnURL}/assets/images/wam-thumbnail.png`)
          .card-body.bg-white.rounded-bottom
            h2.card-title.text-red 
              strong Simon BRICHE
            h6.text-red.mb-0 En résumé
            .card-text.mb-3 
              p
                strong Ma mission : 
                |Améliorer la productivité d'une organisation en adaptant ses outils pour en faciliter l'utilisation via :
                ul 
                  li L'exploitation des APIs disponibles
                  li L'analyse des usages pour proposer un workflow plus efficace
                  li La fluidification des échanges entre les équipes
                  li L'apport d'un regard neuf sur une organisation, l'identification des goulots d'étranglement et des solutions pour y remédier
              p
                |J'ai la conviction qu'une tâche répétitive, chronophage et sans valeur ajoutée doit pouvoir être automatisée pour rendre l'humain plus productif et épanoui dans sa mission. C'est pourquoi mis à part la pure production client, j'élabore et mets également en place différents outils pour :
                ul 
                  li l'amélioration de la performance des équipes dans leur quotidien
                  li l'aide à la décision
                  li la gestion des ressources humaines
            
            h6.text-red.mb-0 Plus particulièrement
            .card-text.mb-3 
              p J'aime explorer ce que proposent les APIs des différents services et outils pour en tirer le meilleur parti (ou simplement par curiosité). Je pars du principe qu'un même outil ne peut pas toujours répondre aux besoins spécifiques de tout le monde, et qu'on peut toujours optimiser les usages.
              p J'aime également mettre en place des frameworks et des outils pour optimiser la productivité, et privilégie toujours la simplicité et l'accessibilité, ce qui rend l'onboarding d'un nouveau collaborateur plus aisé.
            
            .text-center.mb-3
              a.btn.btn-custom.btn-soft.mx-auto(href=`${cdnURL}/cv-simon-briche.pdf` target="_blank") Voir mon CV

            h6.text-red.mb-2 Retrouvez-moi sur
            .text-center.social-networks
              a.text-secondary(href="https://www.linkedin.com/in/simonbriche/" title="Mon profil LinkedIn" target="_blank" rel="noopener")
                i.fab.fa-fw.fa-linkedin

            h6.text-red.mb-2 Ou envoyez-moi un message
            form#form-contact.op1c-form
              .form-group.mb-3
                .input-group
                  span.input-group-text.text-secondary
                    i.fas.fa-fw.fa-users
                  .form-floating.form-floating-group.flex-grow-1
                    input#last_name.form-control.rounded-0.rounded-end(type="text" name="last_name" placeholder="Votre nom *" autocomplete="family-name" required)
                    label(for="last_name") Votre Nom *
                span.form-text
              .form-group.mb-3
                .input-group
                  span.input-group-text.text-secondary
                    i.fas.fa-fw.fa-user
                  .form-floating.form-floating-group.flex-grow-1
                    input#first_name.form-control.rounded-0.rounded-end(type="text" name="first_name" placeholder="Votre Prénom *" autocomplete="given-name" required)
                    label(for="first_name") Votre Prénom *
                span.form-text
              .form-group.mb-3
                .input-group
                  span.input-group-text.text-secondary
                    i.fas.fa-fw.fa-paper-plane
                  .form-floating.form-floating-group.flex-grow-1
                    input#email.form-control.rounded-0.rounded-end(type="email" name="email" placeholder="Votre Email *" autocomplete="email" required)
                    label(for="email") Email *
                span.form-text
              .form-group.mb-3
                .input-group
                  span.input-group-text.text-secondary
                    i.fas.fa-fw.fa-comment
                  .form-floating.form-floating-group.flex-grow-1
                    textarea#message.form-control.rounded-0.rounded-end.h-auto(name="message" rows="5" placeholder="Votre message *" required)
                    label(for="message") Message *
                span.form-text
                
              .form-group.mt-3
                button.btn.btn-custom.btn-soft.btn-submit.w-100(type="submit")
                  span.pending-spinner.me-1
                    i.fas.fa-spinner.fa-spin
                  | Envoyer