.px-3
  header.container-fluid.max-width-container.text-center.rounded.soft.pressed.my-3.overflow-hidden
    a(href="/" alt="Homepage")
      .text-center 
        img.logo.d-sm-none.p-3(src=`${cdnURL}/assets/images/logo.svg`)
        img.logo.d-none.d-sm-inline.p-3(src=`${cdnURL}/assets/images/logo-branches.svg`)