.px-5
  header.container-fluid.max-width-container.text-center.rounded.soft.pressed.my-3.overflow-hidden
    //-.p-3.py-5
      |Header
    //-.soft.flat.text-center.m-3.p-5.mx-auto.rounded(style="width:300px")
      |I'm flat
    //-.soft.floating.text-center.m-3.p-5.mx-auto.rounded.shadow.floating(style="width:300px")
      |I'm floating
    .text-center 
      img.logo.p-3(src=`${cdnURL}/assets/images/logo.svg`)