extends layout
    
block pagecss

block content
  .max-width-container.p-3
    h1 Page introuvable
    section
      |La page 
      span=url 
      |  n'a pas été trouvée.
    
block page-outer-content

block pagejs