:root {
  --white: #FFFFFF;
  --greyLight: #cecece;
}
html,
body {
  color: #616161;
  font-family: 'Ubuntu', sans-serif;
  background: url("/assets/images/bg-white-3.png");
  background-color: #F2F2F2;
}
a {
  font-weight: 700;
  color: #b12b28;
}
.text-red {
  color: #b12b28 !important;
}
.bg-red {
  background: #b12b28 !important;
}
.lazyloaded {
  opacity: 1!important;
  transition: opacity 300ms;
}
.skill .properties {
  position: relative;
  padding-left: 1rem;
  font-family: 'Source Code Pro', monospace;
  color: #7e7e7e;
  cursor: pointer;
  transition: 0.1s all ease-in;
}
.skill .properties:before,
.skill .properties:after {
  content: "{";
  position: absolute;
  transition: 0.1s all ease-in;
  font-size: 4rem;
  line-height: 0.6;
  color: #f2f2f2;
  text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4), 8px 8px 12px rgba(0, 0, 0, 0.08);
  text-shadow: 0.15rem 0.15rem 0.3rem var(--greyLight), -0.1rem -0.1rem 0.25rem var(--white);
}
.skill .properties:before {
  content: "{";
  top: 0;
  left: -1rem;
}
.skill .properties:after {
  content: "v";
  opacity: 0;
  font-size: 2rem;
  top: 1rem;
  left: -0.2rem;
}
.skill .properties:hover,
.skill .properties.collapsed {
  padding-left: 3rem;
}
.skill .properties:hover:after,
.skill .properties.collapsed:after {
  opacity: 1;
}
.skill .properties:hover:before,
.skill .properties.collapsed:before {
  left: 1rem;
}
.skill .properties.collapsed:after {
  content: ">";
}
.skill .property {
  font-family: 'Source Code Pro', monospace;
  color: #7e7e7e;
}
.skill .skill-content {
  position: relative;
  border-left: 1px solid #cbcbcb;
  margin: 1rem 0 6rem 0.5rem;
  padding-left: 1rem;
}
.skill .skill-content:after {
  content: "},";
  position: absolute;
  bottom: -3rem;
  left: -0.5rem;
  font-size: 4rem;
  line-height: 0.6;
  color: #f2f2f2;
  text-shadow: 0.15rem 0.15rem 0.3rem var(--greyLight), -0.1rem -0.1rem 0.25rem var(--white);
}
.skill:last-child .skill-content:after {
  content: "}";
}
#graph-container {
  max-width: 500px;
}
#graph-container text {
  cursor: pointer;
}
#graph-tooltip {
  pointer-events: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  max-width: 230px;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s all ease-out;
}
#graph-tooltip:focus {
  outline: none;
}
.stack-logo {
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  box-shadow: 0.15rem 0.15rem 0.3rem var(--greyLight), -0.1rem -0.1rem 0.25rem var(--white);
}
.rounded {
  border-radius: 1.5rem !important;
}
.rounded-top {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
}
.rounded-bottom {
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.overflow-scroll-x {
  overflow-x: scroll!important;
}
.soft {
  background-color: #f2f2f2;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight), -0.2rem -0.2rem 0.5rem var(--white);
}
.soft.pressed {
  background-image: url("/assets/images/bg-black-inverted-2.png");
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.soft.concave {
  background: linear-gradient(145deg, #cecece, #ffffff);
}
.soft.convexe {
  background: linear-gradient(145deg, #f7f7f7, #cecece);
}
.soft-text {
  color: #f2f2f2;
  text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4), 8px 8px 12px rgba(0, 0, 0, 0.08);
  text-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight), -0.2rem -0.2rem 0.5rem var(--white);
}
.inner-shadow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.marvel-thumbnail {
  width: 150px;
  box-shadow: 0.6rem 0.6rem 1.2rem var(--greyLight), -0.4rem -0.4rem 1rem var(--white);
}
header .logo {
  max-height: 10rem;
  filter: drop-shadow(-6px -2px 3px rgba(255, 255, 255, 0.8)) drop-shadow(6px 1px 7px rgba(0, 0, 0, 0.4));
}
.footer-interface {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-interface.buttons-interface {
  z-index: 1080;
  pointer-events: none;
}
.footer-interface.open {
  height: 110%;
}
.footer-interface.open .btn-profile {
  display: none;
}
.footer-interface.open #btn-close-footer {
  display: block;
}
.footer-interface.pending #btn-pending-footer {
  display: block;
}
.footer-interface #btn-close-footer,
.footer-interface #btn-pending-footer {
  display: none;
}
.footer-interface #btn-pending-footer {
  background: #FFFFFF;
}
.footer-interface .btn-glass-floating {
  pointer-events: all;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.footer-interface .btn-glass-floating .logo {
  width: 28px;
  margin-bottom: 3px;
}
footer {
  z-index: 2;
  background-color: rgba(200, 200, 200, 0.3);
  background: radial-gradient(circle at calc(100% - 46px) -3px, transparent 34px, rgba(0, 0, 0, 0.1) 36px, rgba(255, 255, 255, 0.5) 0) top left;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: 0.2s height ease-in;
  height: 40px;
}
footer:before,
footer:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  background: transparent;
  border-top: 1px rgba(0, 0, 0, 0.15) solid;
  box-shadow: 0rem -0.1rem 0.6rem rgba(0, 0, 0, 0.15);
  clip-path: inset(-1rem 1px);
}
footer:before {
  left: 0;
  width: calc(100% - 81px);
}
footer:after {
  right: 0;
  width: 10px;
}
footer .links ul {
  margin: 0.2rem 6rem 0.2rem;
}
footer .links ul .btn-link,
footer .links ul a.btn-link {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 1.4rem;
}
footer .links ul .btn-link:hover,
footer .links ul a.btn-link:hover {
  color: #656565;
  text-decoration: underline;
}
.modal-interface .modal-dialog {
  max-width: 992px;
}
.modal-interface .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
#notifications-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2000;
}
#notifications-container .toast {
  min-width: 285px;
  max-width: 285px;
  animation: right_to_left 0.5s ease;
}
#notifications-container .toast .toast-header {
  position: relative;
}
#notifications-container .toast .toast-progress {
  animation: notification_progress 0.5s linear;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  border-top-left-radius: 0.25rem;
}
#notifications-container #notification-template {
  display: none;
}
@media (max-width: 320px) {
  #notifications-container {
    width: 100%;
    right: auto;
  }
  #notifications-container .toast {
    margin: auto;
  }
}
@media (max-width: 992px) {
  .modal-interface .modal-dialog {
    margin: 0.5rem;
  }
}
@media (min-width: 992px) {
  .max-width-container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-interface {
    left: 50%;
    transform: translateX(-50%);
    border-left: 1px rgba(0, 0, 0, 0.15) solid;
    border-right: 1px rgba(0, 0, 0, 0.15) solid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .footer-interface:before {
    border-top-left-radius: 0.5rem;
  }
  .footer-interface:after {
    border-top-right-radius: 0.5rem;
  }
}
@media (min-width: 768px) {
  #btn-close-footer {
    top: 10%;
  }
}
@keyframes right_to_left {
  0% {
    opacity: 0;
    transform: translateX(48px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes notification_progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.social-networks {
  font-size: 3rem;
}
.btn-custom {
  cursor: pointer;
}
.btn-custom .pending-spinner {
  display: none;
}
.btn-custom.pending .fa,
.btn-custom.pending .far,
.btn-custom.pending .fab,
.btn-custom.pending .fas,
.btn-custom.pending .fal,
.btn-custom.pending .fad {
  display: none;
}
.btn-custom.pending .pending-spinner {
  display: inline;
}
.btn-custom.pending .pending-spinner .fa,
.btn-custom.pending .pending-spinner .far,
.btn-custom.pending .pending-spinner .fab,
.btn-custom.pending .pending-spinner .fas,
.btn-custom.pending .pending-spinner .fal,
.btn-custom.pending .pending-spinner .fad {
  display: inline-block;
}
.btn-soft {
  border-radius: 0.75rem;
  transition: 0.1s all ease-in;
  color: #616161;
}
.btn-soft,
.btn-soft:focus {
  background-color: #f2f2f2;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight), -0.2rem -0.2rem 0.5rem var(--white);
}
.btn-soft:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight), inset -0.2rem -0.2rem 0.5rem var(--white);
  background-color: #ededed;
}
.btn-glass-floating {
  width: 60px;
  height: 60px;
  transition: 0.2s background-color ease-in, 0.2s color ease-in;
  color: #b12b28;
  font-size: 1.4rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.btn-glass-floating,
.btn-glass-floating:focus {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0rem 0.2rem 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
}
.btn-glass-floating:active {
  box-shadow: 0rem 0.2rem 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-glass-floating:hover {
  background-color: #ffffff;
  color: #d23d3a;
}
.accordion-custom .accordion-button {
  color: #7e7e7e;
  background-color: #f2f2f2;
}
.accordion-custom .accordion-button:focus {
  box-shadow: none;
}
.accordion-custom .accordion-button:not(.collapsed) {
  color: #b12b28;
  background-color: #f8e1e0;
}
.accordion-custom .accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b12b28'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-custom .accordion-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-custom .accordion-item:first-of-type {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.accordion-custom .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(1.5rem - 1px);
  border-top-right-radius: calc(1.5rem - 1px);
}
.accordion-custom .accordion-item:last-of-type {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.accordion-custom .accordion-item:last-of-type .accordion-button.collapsed,
.accordion-custom .accordion-item:last-of-type .accordion-body {
  border-bottom-left-radius: calc(1.5rem - 1px);
  border-bottom-right-radius: calc(1.5rem - 1px);
}
.accordion-custom .accordion-body {
  background-image: none;
}
@media (hover: hover) {
  .btn-soft:hover,
  .btn-soft:hover:focus {
    box-shadow: none;
    background-color: #ededed;
  }
  .btn-soft:hover:focus:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight), inset -0.2rem -0.2rem 0.5rem var(--white);
    background-color: #ededed;
  }
}
#tarteaucitronRoot:before {
  display: none;
}
#tarteaucitronRoot .tarteaucitronIsSelected.tarteaucitronAllow {
  background-color: #27ae60 !important;
}
#tarteaucitronRoot .tarteaucitronIsSelected.tarteaucitronDeny {
  background-color: #cd332d !important;
}
#tarteaucitronRoot .tarteaucitronLine.tarteaucitronIsAllowed {
  border-left: 5px solid #27ae60 !important;
}
#tarteaucitronRoot .tarteaucitronLine.tarteaucitronIsAllowed .tarteaucitronAllow {
  background-color: #27ae60 !important;
}
#tarteaucitronRoot .tarteaucitronLine.tarteaucitronIsDenied {
  border-left: 5px solid #cd332d !important;
}
#tarteaucitronRoot .tarteaucitronLine.tarteaucitronIsDenied .tarteaucitronDeny {
  background-color: #cd332d !important;
}
#tarteaucitronRoot #tarteaucitronAlertBig {
  bottom: 1rem;
  top: auto!important;
  left: 1rem!important;
  transform: none!important;
  background: #FFFFFF !important;
  color: #333;
  width: calc(100% - 2rem) !important;
  padding: 1rem 0 0!important;
  border-radius: 1.5rem !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
#tarteaucitronRoot #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert {
  color: #333;
  font-size: 1rem;
}
#tarteaucitronRoot #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert strong {
  color: #333;
}
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigBtnWrapper {
  display: flex;
  border-top: 1px solid #eee;
}
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigBtnWrapper .tarteaucitronCTAButton {
  margin: 0!important;
  width: 100%;
  padding: 0.75rem 0;
}
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigBtnWrapper .tarteaucitronCTAButton.tarteaucitronAllow {
  border-bottom-left-radius: 1.5rem !important;
  background-color: #27ae60;
}
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigBtnWrapper .tarteaucitronCTAButton.tarteaucitronDeny {
  background-color: #cd332d;
}
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigBtnWrapper .tarteaucitronCTAButton#tarteaucitronCloseAlert {
  border-bottom-right-radius: 1.5rem !important;
}
#tarteaucitronRoot #tarteaucitronClosePanel,
#tarteaucitronRoot #tarteaucitronCloseCross {
  background: #FFFFFF !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #333 !important;
  text-align: center;
  border: 2px solid #4c4c4c;
  outline: none!important;
  width: 20px !important;
  height: 20px !important;
  right: 10px !important;
  font-size: 15px;
  padding: 0 !important;
  z-index: 1;
  font-weight: 700;
}
#tarteaucitronRoot #tarteaucitronClosePanel#tarteaucitronClosePanel,
#tarteaucitronRoot #tarteaucitronCloseCross#tarteaucitronClosePanel {
  top: 30px;
}
#tarteaucitronRoot .tarteaucitronTitle {
  background: #FFF;
}
#tarteaucitronRoot #tarteaucitronServices {
  background: #FFF;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronMainLine {
  border: 0!important;
  background: #FFF !important;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronH1 {
  color: #27ae60;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronMainLine #tarteaucitronInfo {
  background: #FFF !important;
  color: #333;
  border-color: #ccc;
  font-size: 1rem;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronMainLine #tarteaucitronInfo strong {
  font-size: 1rem;
  font-weight: 700;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronTitle button {
  background: #FFF !important;
  color: #27ae60 !important;
  border-top: 1px solid #ccc;
  margin-bottom: 0!important;
  padding-top: 13px!important;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronTitle button .tarteaucitronPlus::before {
  color: #27ae60 !important;
}
#tarteaucitronRoot #tarteaucitronServices #tarteaucitronScrollbarAdjust {
  float: none;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronBorder {
  border: none;
}
#tarteaucitronRoot #tarteaucitronServices .tarteaucitronBorder > ul > li {
  background: #FFF;
}
.tac_activate .tac_float .tarteaucitronAllow {
  background-color: #27ae60 !important;
}
@media (min-width: 768px) {
  #tarteaucitronRoot #tarteaucitronAlertBig {
    width: 50%!important;
    left: 50%!important;
    transform: translateX(-50%) !important;
  }
  #tarteaucitronRoot #tarteaucitronServices {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  #tarteaucitronRoot #tarteaucitronServices .tarteaucitronTitle button {
    border-top-right-radius: 1.5rem;
    border-right: 1px solid #ccc;
    padding-top: 5px!important;
  }
}
.gallery-item {
  width: 200px;
  cursor: pointer;
  transition: 0.1s all ease-in;
}
.gallery-item:active:hover,
.gallery-item:active {
  box-shadow: none!important;
  transform: scale(0.975);
}
.gallery-item:hover {
  box-shadow: 0rem 1rem 0.75rem 0.15rem rgba(0, 0, 0, 0.25) !important;
  transform: scale(1.025);
}
.gallery-item .card-body {
  position: relative;
  background-color: #FFFFFF;
}
.gallery-item .card-body:before,
.gallery-item .card-body:after {
  position: absolute;
  font-size: 1rem;
  line-height: 0.6;
  color: #f2f2f2;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
}
.gallery-item .card-body:before {
  content: "{";
  top: 0.6rem;
  left: 0.3rem;
}
.gallery-item .card-body:after {
  content: "}";
  bottom: 1.6rem;
  right: 0.3rem;
}
.gallery-item .card-body small {
  font-size: 0.775em;
}
.portfolio-focus .thumbnail {
  max-width: 190px;
}
.portfolio-focus #portfolio-carousel {
  margin-left: -1rem;
  margin-right: -1rem;
}
.portfolio-focus #portfolio-carousel .carousel-control-container {
  position: -webkit-sticky;
  position: sticky;
  bottom: 5rem;
  height: 4rem;
}
.portfolio-focus #portfolio-carousel .carousel-control {
  background: #FFFFFF;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  box-shadow: 0.15rem 0.15rem 0.3rem var(--greyLight), -0.1rem -0.1rem 0.25rem var(--white);
}
.gallery-container:hover .scroll-arrows {
  opacity: 0.5;
}
.gallery-container .scroll-arrows {
  pointer-events: none;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: opacity 0.5s;
  opacity: 0;
}
.gallery-container .scroll-arrows span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #b12b28;
  border-right: 2px solid #b12b28;
  transform: rotate(45deg);
  animation: animate-scroll-arrows 2s infinite;
}
.gallery-container .scroll-arrows span:nth-child(2) {
  animation-delay: -0.2s;
}
.gallery-container .scroll-arrows span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate-scroll-arrows {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@media (hover: none) {
  .gallery-container .scroll-arrows {
    opacity: 0.5;
  }
}
@media (min-width: 576px) {
  .portfolio-focus {
    max-width: 576px;
  }
}
