// main: all.less

//Style tweaks
html, body{
  color: @main-color;
  font-family: @std-font-family;
  background: url("@{cdn-url}/assets/images/bg-white-3.png");
  background-color: @background-color;
}

.text-red{
  color: @red-color!important;
}
.bg-red{
  background: @red-color!important;
}

.skill{
  .properties{
    position: relative;
    padding-left: 1rem;
    font-family: 'Source Code Pro', monospace;
    color: @grey-color;
    cursor: pointer;
    transition: 0.1s all ease-in;

    &:before, &:after{
      content: "{";
      position: absolute;
      transition: 0.1s all ease-in;
      font-size: 4rem;
      line-height: 0.6;
      color: @soft-bg-color;
      text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
      8px 8px 12px rgba(0,0,0,0.08);
      .soft-text-shadow(0.5);
    }
    &:before{
      content: "{";
      top: 0;
      left: -1rem;
    }
    &:after{
      content: "v";
      opacity: 0;
      font-size: 2rem;
      top: 1rem;
      left: -0.2rem;
    }
    &:hover, &.collapsed{
      padding-left: 3rem;
      &:after{
        opacity: 1;
      }
      &:before{
        left: 1rem;
      }
    }
    &.collapsed:after{
      content: ">";
    }
  }
  .property{
    font-family: 'Source Code Pro', monospace;
    color: @grey-color;
  }
  .skill-content{
    position: relative;
    border-left: 1px solid lighten(@grey-color, 30%);
    margin: 1rem 0 6rem 0.5rem;
    padding-left: 1rem;

    &:after{
      content: "},";
      position: absolute;
      bottom: -3rem;
      left: -0.5rem;
      font-size: 4rem;
      line-height: 0.6;
      color: @soft-bg-color;
      .soft-text-shadow(0.5);
    }
  }
  &:last-child{
    .skill-content{
      &:after{
        content: "}";
      }
    }
  }
}

#graph-container{
  max-width: 500px;
  circle{
    cursor: pointer;
  }
}
#graph-tooltip{
  pointer-events: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  max-width: 200px;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s all ease-out;
}
.stack-logo{
  width: 30px;
  height: 30px;
  background-color: @soft-bg-color;
  .soft-box-shadow(0.5);
}
.rounded{
  border-radius: 1.5rem!important;
}
.rounded-top{
  border-top-left-radius: 1.5rem!important;
  border-top-right-radius: 1.5rem!important;
}
.rounded-bottom{
  border-bottom-left-radius: 1.5rem!important;
  border-bottom-right-radius: 1.5rem!important;
}

.soft{
  background-color: @soft-bg-color;
  .soft-box-shadow(1);

  &.pressed{
    background-image: url("@{cdn-url}/assets/images/bg-black-inverted-2.png");
    //border: 1px solid darken(@soft-bg-color, 2%);
    //box-shadow: inset @soft-size @soft-size @soft-blur darken(@soft-bg-color, 14%), inset -@soft-size -@soft-size @soft-blur lighten(@soft-bg-color, 14%);
    box-shadow: @inner-shadow;
  }
  &.concave{
    background: linear-gradient(145deg, darken(@soft-bg-color, 14%), lighten(@soft-bg-color, 14%));
  }           
  &.convexe{
    background: linear-gradient(145deg, lighten(@soft-bg-color, 2%), darken(@soft-bg-color, 14%));
  }    
}
.soft-text{
  color: @soft-bg-color;
  text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
  .soft-text-shadow(1);
}
.inner-shadow{
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0.2rem 0.2rem 0.5rem 0rem rgb(0 0 0 / 20%);
  z-index: 1;
}

header{
  .logo{
    max-width: 10rem;
    filter: drop-shadow(-6px -2px 3px rgba(255, 255, 255, 0.8)) drop-shadow(6px 1px 7px rgba(0, 0, 0, 0.4));
  }
}
.footer-interface{
  position: fixed;
  bottom: 0;
  width: 100%;
  &.buttons-interface{
    z-index: 1080;
    pointer-events: none;
  }
  &.open{
    height: 110%;
    #btn-profile{
      display: none;
    }
    #btn-close-footer{
      display: block;
    }
  }
  &.pending{
    #btn-pending-footer{
      display: block;
    }
  }

  #btn-close-footer, #btn-pending-footer{
    display: none;
  }
  #btn-pending-footer{
    background: #FFFFFF;
  }

  .btn-glass-floating{
    pointer-events: all;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    .logo{
      width: 28px;
      margin-bottom: 5px;
    }
  }
}
footer{
  z-index: 2;
  background-color: rgba(200, 200, 200, 0.3);
  background: radial-gradient(circle at calc(100% - 46px) -3px, transparent 34px, rgba(0,0,0,0.1) 36px, rgba(255, 255, 255, 0.5) 0) top left;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: 0.2s height ease-in;
  height: 40px;

  &:before, &:after{
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    background: transparent;
    border-top: 1px rgba(0,0,0,0.15) solid;
    box-shadow: 0rem -0.1rem 0.6rem rgba(0, 0, 0, 0.15);
    clip-path: inset(-1rem 1px);
  }
  &:before{
    left: 0;
    width: calc(100% - 81px);
  }
  &:after{
    right: 0;
    width: 10px;
  }

  .links ul{
    margin: 0.5rem 6rem 0.5rem;
    .btn-link{
      color: @grey-color;
      text-decoration: none;
      &:hover{
        color: darken(@grey-color, 10);
        text-decoration: underline;
      }
    }
  }
}

.modal-interface{
  .modal-dialog{
    max-width: @max-width-container;
    .modal-content{
      background-color: transparent;
      border: none;
    }
  }
}

#notifications-container{
  position: fixed;
  top: 1rem; 
  right: 1rem;
  z-index: 2000;
  
  .toast{
    min-width: 285px;
    max-width: 285px;
    animation: right_to_left 0.5s ease;
    .toast-header{
      position: relative;
    }
    .toast-progress{
      animation: notification_progress 0.5s linear;
      position: absolute;
      height: 3px;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      left: 0;
      top: 0;
      border-top-left-radius: .25rem;
    }
  }
  #notification-template{
    display: none;
  }
}

@media (max-width: 320px) {
  #notifications-container{
    width: 100%;
    right: auto;
    .toast{
      margin: auto;
    }
  }
}
@media (max-width: @max-width-container) {
  .modal-interface{
    .modal-dialog{
      margin: 0.5rem;
    }
  }
}
@media (min-width: @max-width-container) {
  .max-width-container{
    max-width: @max-width-container;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-interface{
    left: 50%;
    transform: translateX(-50%);
    border-left: 1px rgba(0,0,0,0.15) solid;
    border-right: 1px rgba(0,0,0,0.15) solid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    &:before{
      border-top-left-radius: 0.5rem;
    }
    &:after{
      border-top-right-radius: 0.5rem;
    }
  }
}
@media (min-width: 768px) {
  #btn-close-footer{
    top: 10%;
  }
}

@keyframes right_to_left {
  0% {
    opacity: 0;
    transform: translateX(48px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes notification_progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}